/* ContactUs.css */

.contact-us-container {
    display: flex;
    flex-direction: row; /* By default, the image will be on the left and the form on the right */
  }
  
  .contact-us-img img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    padding-left: 30px;
  }
  
  .container-form{
    width: 90%;
    padding-left: 50px;
    padding-right: 50px; 
  }
  
  @media (max-width: 768px) {
    /* On smaller screens, change the layout to stack the image on top of the form */
    .contact-us-container {
      flex-direction: column;
      align-items: center; /* Center content vertically */
    }
  
    .container-form{
      padding-right: 0;
    }
  }
  