.Image img{
    object-position: 50% 50%;
    height: 300;
    aspect-ratio: 1.5/1;
    object-fit: cover;
}
.card-title{
  overflow: hidden;
}
  
  @media (max-width: 650px) {
    .card{
        margin-left: 50px;
        width: 70vw;
    }
  }